.wrapper {
  display: flex;
  justify-content: center;
  background: rgba(35, 56, 122, 0.98);
  height: 100%;
  width: 100%;
  position: fixed;
}

.container {
  max-width: 450px;
  min-width: 375px;
  max-height: 100%;
  background: linear-gradient(180deg, #102464 0%, #102464 100%), linear-gradient(180deg, #FFFFFF 0%, #EDE7E7 100%);
}

.content {
  padding: 10px 20px 100px;
}

.coinHolder {
  display: flex;
  margin-bottom: 25px;
}

.fakeCoin {
  width: 36px;
  height: 36px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px dashed rgba(255, 255, 255, 0.25);
  border-radius: 100%;
}

.coinHolder img + img, .coinHolder .fakeCoin + .fakeCoin, .coinHolder img + .fakeCoin {
  margin-left: 12px;
}

.header {
  padding: 20px 15px;
}

.title {
  font-size: 20px;
  color: white;
  line-height: 1.4;
}

@media screen and (min-width: 700px) {
  .wrapper {
    align-items: center;
  } 

  .container {
    height: 700px;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.20);
    position: relative;
  }
}