.posts {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.posts a {
  text-decoration: none;
}
@media screen and (max-width: 1220px) {
  .posts {
    justify-content: center;
  }
}
@media screen and (max-width: 800px) {
  .posts {
    margin: 20px 0;
  }
}
@media screen and (max-width: 500px) {
  .posts {
    margin: 30px 0;
  }
}
