.topic {
  background: white;
  padding: 0 15px;
  align-items: center;
  border-radius: 3px;
  font-size: 16px;
  display: flex;
  position: relative;
  height: 50px;
  cursor: pointer;
  user-select: none;
}

.topic + .topic {
  margin-top: 10px;
}

.coinHolder {
  position: absolute;
  right: 8px;
  margin-left: auto;
  height: 30px;
  display: flex;
  align-items: center;
}

.coinHolder img {
  transform: scale(0.9);
  border: 2px solid white;
  border-radius: 100%;
  flex-shrink: 0;
}

.coinHolder img + img {
  margin-left: -20px;
}